* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #E9F5FE;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

a {
  color: #000;
  text-decoration: none;
}

span {
    display: inline-block;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

/* Hero */
.hero {
    padding: clamp(4rem, calc(4rem + ((1vw - 0.48rem) * 15.625)), 14rem) 0;
    min-height: 0vw;
}

/* Neural Links */
.container--neural-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.neural-links__svg {
    height: clamp(26.2rem, calc(26.2rem + ((1vw - 0.48rem) * 18.2639)), 52.5rem);
}

.neural-links__card {
    position: absolute;
    top: 0;
    left: 0;

    /* Need to change... */
    width: clamp(8rem, calc(8rem + ((1vw - 0.48rem) * 12.2222)), 25.6rem);
    height: clamp(8rem, calc(8rem + ((1vw - 0.48rem) * 12.2222)), 25.6rem);
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.02);
    /* Need to change... */
}

.neural-links__card.is-hidden {
    opacity: 0;
}

/* Glowing Orb */
.neural-links__orb {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 0 4px #2e80f9, inset 0 0 8px #2e80f9;
    margin: 0 auto;
}

.neural-links__orb.is-hidden {
    opacity: 0 !important;
}


/* Buttons */
.btn {
  padding: 18px 26px;
  border-radius: 28px;

  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.btn span {
    pointer-events: none;
}

.btn.btn--main {
    --bg-color: #D7EBFE;
    --ease: cubic-bezier(0.65, 0, 0.35, 1);
    --duration: 0.8s;
    
    overflow: hidden;
    position: relative;
    padding-left: calc(52px + 24px);

    background-color: var(--bg-color);

    transition: background-color var(--duration) var(--ease);
}

.btn.btn--main .emoji-container {
    --bg-color: #318EFA;
    --gap: 3px;
    --wrapper-size: 50px;

    position: absolute;
    top: 50%;
    left: var(--gap);
    transform: translateY(-50%) rotate(0);
    transform-origin: center;
    width: var(--wrapper-size);
    height: var(--wrapper-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    background-color: var(--bg-color);

    transition: background-color var(--duration) var(--ease), left var(--duration) var(--ease), transform var(--duration) var(--ease);
    z-index: 1;
}

.btn.btn--main .emoji-wrapper {
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%);
}

.btn.btn--main .emoji {
    font-size: 24px;
    transition: opacity var(--duration) var(--ease);
}

.btn.btn--main .emoji--start {
    font-size: 24px;
    opacity: 1;
}

.btn.btn--main .emoji--end {
    font-size: 24px;
    opacity: 0;
    transform: rotate(180deg);
    transform-origin: center;
}

.btn.btn--main .btn--main__text-start {
    --text-color: #1B2740;

    color: var(--text-color);
    transform: translateX(0);
    opacity: 1;
    transition: transform calc(var(--duration) * 1.1) var(--ease), opacity calc(var(--duration) * 1.1) var(--ease);
}

.btn.btn--main .btn--main__text-end {
    --text-color: #fff;
    --padding-left: 24px;

    position: absolute;
    top: 50%;
    left: var(--padding-left);
    color: var(--text-color);
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: transform calc(var(--duration) * 1.1) var(--ease), opacity calc(var(--duration) * 1.1) var(--ease);
}

.btn.btn--main:hover {
    --bg-color: #318EFA;
}

.btn.btn--main:hover .emoji-container {
    --bg-color: #fff;
    
    left: calc(100% - var(--wrapper-size) - var(--gap));
    transform: translateY(-50%) rotate(180deg);
}

.btn.btn--main:hover .emoji--start {
    opacity: 0;
}

.btn.btn--main:hover .emoji--end {
    opacity: 1;
}

.btn.btn--main:hover .btn--main__text-start {
    transform: translateX(100%);
    opacity: 0;
}

.btn.btn--main:hover .btn--main__text-end {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
}